* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: rgb(28, 28, 28);
    font-size: 5em;
    font-family: sans-serif;
}

h1 span {
    display: inline-block;
    animation: animate 1s ease-in-out;
}

@keyframes animate {
    0% {
        opacity: 0%;
        transform: rotateZ('angle');
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
    }
}

h1 span:nth-child(1) {
    animation-delay: 0.4s;
}

h1 span:nth-child(2) {
    animation-delay: 0.6s;
}

h1 span:nth-child(3) {
    animation-delay: 0.8s;
}

h1 span:nth-child(4) {
    animation-delay: 1.0s;
}

h1 span:nth-child(5) {
    animation-delay: 1.2s;
}

h1 span:nth-child(6) {
    animation-delay: 1.4s;
}

h1 span:nth-child(7) {
    animation-delay: 1.6s;
}

span:nth-child(8) {
    animation-delay: 32.3s;
}