body {
    font-family: sans-serif;
    background: white;
}

.navFather {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 18px;
    border-radius: 15px;
}

.button {
    transition: color 0.3s ease;
}

.button:hover {
    color: rgb(0, 0, 0);
}